body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    background-image: url('background.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.5); /* Couleur de fond blanche semi-transparente */
}

header {
    background-color: #D4C4A8; /* Couleur beige */
    color: #333;
    text-align: center;
    padding: 20px 0;
}
/* Styles de la barre de navigation */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #D4C4A8;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #555;
}

/* Animation pour les boutons de commande */
.option {
    background-color: #E6E8D8;
    padding: 15px;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.option img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.option:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.social-location {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    gap: 40px;
}

.instagram-preview, .location {
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

/* Style de base pour les boutons */
button {
    background-color: #D4C4A8;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #C4B89E;
}

.logo {
    width: 500px;
    height: auto;
}

h1 {
    margin: 10px 0;
}

main {
    padding: 20px;
}

.info {
    background-color: #FFFFFF;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-options {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.option {
    background-color: #E6E8D8; /* Couleur vert clair */
    padding: 20px;
    width: 45%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option:hover {
    background-color: #D4E2C3;
}

h3 {
    margin: 0;
}

footer {
    background-color: #D4C4A8; /* Couleur beige */
    color: #333;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}
